.container {
    height: 80vh;
}

.titulo {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-left: 10px;
    width: 100%
}

.titulo2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.btnInsert {
    background-color: rgb(31, 223, 95);
    padding: 10px;
    margin-left: 15px;
    border-radius: 5px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    z-index: 1;
    cursor: pointer;
}

.divContador {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.contador {
    font-size: 0.8rem;
}

.cardContainer {
    border-bottom: 1px solid rgb(58, 58, 79);
    border-left: 1px solid rgb(58, 58, 79);
    border-right: 1px solid rgb(58, 58, 79);
    padding-bottom: 10px !important;
    margin-bottom: 10px !important;
    border-radius: 0 0 10px 10px;
    background-color: #f1f2eb;
}

.grupoTitulo {
    border-top: 1px solid rgb(58, 58, 79);
    border-left: 1px solid rgb(58, 58, 79);
    border-right: 1px solid rgb(58, 58, 79);
    border-radius: 10px 10px 0 0;
    padding: 5px 0 0 15px;
    background-color: #f1f2eb;
}

.grupoTexto {
    color: #3a3636;
    font-size: 1.2rem;
}