.container {
    height: 80vh;
}

.titulo {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-left: 10px;
    width: 100%
}

.titulo2 {
    display: flex;
    align-items: first baseline;
    justify-content: flex-start;
}

.btnInsert {
    margin-left: 10px;
    font-size: 2rem;
    color: navy;
    cursor: pointer;
}

.divContador {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.contador {
    font-size: 0.8rem;
}