.containt {
  z-index: 999999999999999999999999999 !important;
  role: "dialog";
}

.modalContent {
  height: auto !important;
  display: none;
  border-radius: 32px;
}

.modalContent .popupAlertaFeedback .popupBasis {
  width: 60vh !important;
}

.modalBody {
  width: 100%;
  overflow-y: unset;
}

.modalRow {
  display: table;
}

.modalButton {
  z-index: '99999999999999999999999';
  color: 'black';
  position: 'absolute';
  top: '36px';
  right: '36px';
  cursor: 'pointer';
}

.divIcon {
  display: 'table-cell';
  vertical-align: ' top';
}

.icon {
  margin-top: unset !important
}

.divMessage {
  display: table-cell;
  vertical-align: top;
}

.dvModalTitle {
  font-size: 48px;
  font-weight: 400;
}

.buttonClose {
  z-index: 99999999999999999999999;
  color: black;
  position: absolute;
  top: 36px;
  right: 36px;
  cursor: pointer;
}

.dvModalError {
  height: auto !important;
  display: none;
  border-radius: 32px;
}

i.sucesso {
  font-size: 30pt;
  color: white;
  margin-right: 10px;
}

i.erro {
  font-size: 96px;
  color: white;
  margin-top: 13px;
}